.DS_Store
node_modules
.worktrees
.sst
.env
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
/result
refs
Session.vim
atomcli.json
a.out
target
.scripts

# Local dev files
atomcli-dev
logs/
*.bun-build
*.heapsnapshot
